
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

WIP/
export/
Scenes/NPCs/Faces/facem02.png.import
Scenes/NPCs/Faces/facem03.png.import
Scenes/NPCs/Faces/facem04.png.import
Scenes/NPCs/Faces/facem05.png.import
Scenes/NPCs/Faces/facem06.png.import
Scenes/NPCs/Faces/facem07.png.import
Scenes/NPCs/Faces/facem08.png.import
Scenes/NPCs/Faces/facem09.png.import
Scenes/NPCs/Faces/facem10.png.import
Scenes/NPCs/Faces/facem11.png.import
Scenes/NPCs/Faces/facem12.png.import
Scenes/NPCs/Faces/facem13.png.import
Scenes/NPCs/Faces/facem14.png.import
Scenes/NPCs/Faces/facem15.png.import
Scenes/NPCs/Faces/facem16.png.import
